body {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: x-large;
  background-color: #21a0cf;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ////////////////////////////////////////////////// */

.nav,
.home-view {
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #4b4949;
  max-width: 80vw;
  background-color: #fff;
}

.nav{
  margin: 3vh auto;
}
.home-view{
  margin: 3vh auto;
}

.home-view {
  padding: 2.5rem 1rem;

  .quantity-input label,
  .quantity-input input {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
  }

  .size-btns input {
    accent-color: #21a0cf;
    height: 20px;
    width: 20px;
  }

  .quantity-input, .size-btns{
    padding: 0 2rem 4rem 2rem;
  }
}

.rattle-btns{
  display: flex;
  justify-content: center;
  height: 35vw;
  border-radius: 10px;
  .rattle-btn{
    padding: 2rem;
    opacity: 0.5;
  }
  .target{
    opacity: 1;
  }
}

button {
  color: #fff;
  background-color: #23d5ab;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;

  &:active {
    color: #fff;
    background-color: #1eba95;
    border-color: #1eba95;
  }
}

.home-btn{
  margin: 1rem;
}
 .play-btn {
  margin-top: 5rem;
}

/* ////////////////////////////////////////////////// */

.rattle-view {
  display: none;
}

#canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
}

.wersja {
  text-align: center;
}

.acc_x_test {
  text-align: center;
}


/* ////////////////////////////////////////////////// */


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 25px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #21a0cf;
  /*  slider progress trick  */
  box-shadow: -810px 0 0 800px #21a0cf;
}